.u-bottomBar {
    text-align: center;
    bottom: 2em;
    width: 100%;
}

.button {
    border: 0;
    background-color: #fff;
    padding: 0.5em 1em;
    border-radius: 2px;
}

$Timer-duration: 60s;
$Timer-size: 1.5em;
$Timer-frame-color: #fff;
$Timer-inner-color: #fff;
$Timer-background-color: $body-color;

.Timer {
    font-size: $Timer-size;
    border: 0.375em solid $Timer-frame-color;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    padding: 0.375em;

    &:after,
    &:before {
        content: "";
        display: block;
        background-color: $Timer-frame-color;
        border-radius: 0.25em;
    }

    &:before {
        width: 1.5em;
        height: 1em;
    }

    &:after {
        width: 1em;
        height: 0.825em;
        top: 0.1875em;
        transform: rotate(45deg);
    }
}

.Timer-inner {
    border-radius: 50%;
    background-color: $Timer-background-color;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to right,
        transparent 50%,
        $Timer-inner-color 0
    );

    &:before {
        content: "";
        display: block;
        margin-left: 50%;
        height: 100%;
        border-radius: 0 100% 100% 0 / 50%;
        background-color: inherit;
        transform-origin: left;
    }

    &.run:before {
        animation: rotate ($Timer-duration / 2) linear 2,
            background $Timer-duration step-end;
        animation-fill-mode: forwards, forwards;
    }
}

@keyframes rotate {
    to {
        transform: rotate(0.5turn);
    }
}

@keyframes background {
    50% {
        background: $Timer-inner-color;
    }
    to {
        background: $Timer-inner-color;
    }
}
